.form-input-title--large-font {
	font-weight: bold !important;
}

.button {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
}

.img-preview {
	margin-bottom: 1rem;
	width: 75%;
	height: auto;
}

.img-preview--middle {
	text-align: center;
}

#remove-picture:hover {
	color: red !important;
	cursor: pointer;
}
