.img {
	width: 80%;
	height: auto;
}

.content--center {
	text-align: center;
	margin: 0 auto;
}

.blog-body {
	text-align: left !important;
	font-size: larger;
}

.button--position {
	margin-left: auto;
}
