@import '~bootstrap/scss/bootstrap';
@import './component_styles/TopNavbar.scss';
@import './component_styles/BlogItem.scss';
@import './component_styles/PostBlog.scss';
@import './component_styles/SingleBlog.scss';

/* .container {
	max-width: 1100px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
} */
